.App {

  font-family: 'Roboto', sans-serif;
}

:root {
  --deepBlue: #007980;
  --lightBlue: #3CC8D5;
  --mainYellow: #FFC700;
}

.owl-dots {
  margin-top: -70px;
  text-align: center;
  margin-left: 230px;
  position: relative;
  z-index: 1;

}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
@media(max-width:991px) {
  .owl-dots {
    text-align: left;
    width: 428px;
    margin: auto;

    margin-top: -55px;

  }


}

@media(max-width:576px) {
  .owl-dots {
    width: 400px;
    margin: auto;
    margin-top: -53px;
  }
}

@media(max-width:426px) {
  .owl-dots {
    width: 292px;
    margin: auto;
    margin-top: -50px;
  }
}

.owl-dot.active {
  background-color: black !important;
  outline: 0;
}

