.App {
  
  font-family: 'Roboto', sans-serif;
}
:root{
  --deepBlue:#007980;
  --lightBlue:#3CC8D5;
  --mainYellow:#FFC700;
}
.owl-dots{
  margin-top:-50px;
  text-align:center;
  margin-left:230px;
  position:relative;
  z-index:3;
  
}
@media(max-width:991px){
  .owl-dots{
    text-align:left;
    width:428px;
   margin:auto;
   /* margin-left:-30px; */
    margin-top:-50px;
    /* margin-left:130px; */
  }
  
}
.owl-dot.active{
  background-color: black!important;
  outline:0;
}